button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgba(10, 68, 114, 0.441);
    font-size: 20px;
    font-weight: bold;
    color: white;
   position: relative;
   top: 10px;
  cursor: pointer;
}